.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.h11{
  padding-top: 280px;
  padding-left: 80px;
  position: relative;
  font-family: 'Caprasimo', cursive;
  font-size: 90px;
  width: 50%;
  height: auto;
  float: left;
}

#ptag{
  position: relative;
  color: white;
  padding-left: 80px;
  font-family: 'Instrument Sans', sans-serif;
  font-size: 32px;
  float: left;
  width: 50%;
}

#imgtag{
  padding-right: 80px;
  padding-top: 180px;
  float: right;
  width: 700px;
}

.CodeMirror{
  height: 350px;
  color: white
}

.CodeMirror-gutters{
  background: #1d1e22 !important;
}

.CodeMirror-scroll{
  background: #1d1e22 !important;
}